$nav-background-theme: #8fd1aa;
$main-theme-color: #8fd1aa;
$main-text-color: #363636;
$p-font-size: 0.9rem;
$h-font-size: 1rem;
$title-font-size: 2.5rem;

nav {
    background-color: $nav-background-theme;
    color: $main-text-color;

    .brand-logo {
        color: $main-text-color;
    };

    i {
        color: $main-text-color;
    }

};

.content-container {
    color: $main-text-color;
};

p {
    font-size: $p-font-size;

    
};

a {
    font-size: $p-font-size;
}

div {
    span .card-title {
        font-size: $h-font-size;
    };
    h1 {
        font-size: $h-font-size;
    };
    div[container-type='top-menu'] {
        position: relative;
        margin-top: 10px;
        
        a {
            width: 100%;
        }
    }
}

.side-nav-title {
    height: 150px;
    background-color: $main-theme-color;
    padding: 3rem 0rem 2rem 1rem;
    h1{
        font-size: $title-font-size;
        margin: 0px;
    }
}