$nav-background-theme: #8fd1aa;
$main-theme-color: #8fd1aa;
$main-text-color: #363636;
$p-font-size: 0.9rem;
$h-font-size: 1rem;
$title-font-size: 2.5rem;

nav {
    background-color: $nav-background-theme;
    color: $main-text-color;

    .brand-logo {
        color: $main-text-color;
    };

    i {
        color: $main-text-color;
    }

};

.content-container {
    color: $main-text-color;
    height: 88.5%;
};

p {
    font-size: $p-font-size;

    
};

a {
    font-size: $p-font-size;
}

div {
    span .card-title {
        font-size: $h-font-size;
    };
    h1 {
        font-size: $h-font-size;
    };
    div[container-type='top-menu'] {
        position: relative;
        margin-top: 10px;
        
        a {
            width: 100%;
        }
    }
}

.side-nav-title {
    height: 150px;
    background-color: $main-theme-color;
    padding: 3rem 0rem 2rem 1rem;
    h1{
        font-size: $title-font-size;
        margin: 0px;
    }
}

h4[title-type="signup"]{
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;

}

div[container-type="signup"]{

    div.input-field {
        margin: 0;
    }
}

div[container-type="signup-footer"] {
    a {
        width: 100%;
    }

    .btn, .btn-default, .btn-flat{
            padding: 0 .9rem;
        }
}

div[container-type="signup-container"] {
    background-color: rgba(255,255,255,.6);
    margin-top: .5rem;
    padding: 0 1rem;
    width: 100%;
    height: 100%;

    * {
        color: $main-text-color;
    }
    ::-webkit-input-placeholder {
        color: $main-text-color;
    }
}

.sign-login-screen {
    background-image: url('../images/signup.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div[container-type="activity-search"]{
    background: #f2f2f2;
    box-sizing: border-box;
    height: 63%;
}

.activity-search-screen {
    box-sizing: border-box;
}

div[container-type="activity-search-footer"] {
    a {
        width: 100%;
        font-size: 1.25rem;
        color: #939393;
        margin: .2rem;
    }
    //background: #e6e6e6;
    position: fixed;
    bottom: 0;
    margin: .2rem;
}

div[container-type="activity-search-header"] {
    margin-top: .5rem;
    margin-bottom: .1rem;

    div, input.select-dropdown {
        margin-bottom: .1rem;
    }
}

html, body {
    height: 100%;
    margin: 0;
    //overflow: none;
}

.box {
    display: flex;
    height: 50%;
    line-height: .5;
    margin: 0;
    text-align: center;
    div {
        position: relative;
        height: 100%;
        border: #ffffff solid 1px;
        text-align: center;
        h4 {
            width: 100%;
            color: #f2f2f2;
            z-index: 9;
            text-shadow: 2px 2px 5px #121212;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    
}

h4[title-type="modal-title"] {
    width: 100%;
    text-align: center;
    margin: .6rem 0;
}